<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionare Utilizatori</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">

    

</head>
<body>

    <div class="sidebar">

        <h4>Private Access PAC</h4>

        <a href="/dashboard" class="menu-item">
            <i class="fa-solid fa-house"></i>
            Dashboard
        </a>

        <a href="/users" class="menu-item">
            <i class="fa-solid fa-users"></i>
            Utilizatori
        </a>

        <a href="/rapoarte" class="menu-item">
            <i class="fa-solid fa-chart-column"></i>
            Rapoarte
        </a>

        <a href="/accestimpreal" class="menu-item">
            <i class="fa-solid fa-broadcast-tower"></i>
            Acces in timp real
        </a>

        <a href="/settings" class="menu-item">
            <i class="fa-solid fa-gear"></i>
            Setări
        </a>


        <a href="/logout" class="menu-item">
            <i class="fa-solid fa-right-from-bracket"></i>
            Deconectare
        </a>

    </div>
    <div class="content">

        <h2>Setari</h2>

        <div class="row mt-4">

            <div>
                <label>Nume</label>
                <input class="form-control" value="Administrator" readonly>
            </div>

            <div>
                <label>Email</label>
                <input class="form-control" value="admin@pac.ro" readonly>
            </div>

            <div>
                <label>Rol</label>
                <input class="form-control" value="Administrator" readonly>
            </div>

            <div>
                <label>Ultima autentificare</label>
                <input class="form-control" value="04.06.2026 15:20" readonly>
            </div>

            <div class="form-check">
                <input class="form-check-input"
                    type="radio"
                    name="theme"
                    id="lightTheme"
                    checked>

                <label class="form-check-label" for="lightTheme">
                    Temă deschisă
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input"
                    type="radio"
                    name="theme"
                    id="darkTheme">

                <label class="form-check-label" for="darkTheme">
                    Temă închisă
                </label>
            </div>
            <button id="saveTheme"
                    class="btn btn-primary">
                Salvează
            </button>
        </div>

    <script>

    const lightTheme =
        document.getElementById('lightTheme');

    const darkTheme =
        document.getElementById('darkTheme');

    const saveButton =
        document.getElementById('saveTheme');

    saveButton.addEventListener('click', () => {

        if(darkTheme.checked){
            localStorage.setItem(
                'theme',
                'dark'
            );
        }
        else{
            localStorage.setItem(
                'theme',
                'light'
            );
        }

        location.reload();

    });

    </script>
    
    <script>

    const theme =
        localStorage.getItem('theme');

    if(theme === 'dark'){
        document.body.classList.add(
            'dark-mode'
        );
    }

    </script>
</body>
</html>